@import "../variables";

.home-nav {
  background-color: $primary-color;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  //   @include show_border(red, true);
}

.home-ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  height: 4rem;
  justify-content: space-around;
  align-items: center;
  //   margin: 0.2rem;
  width: 20rem;
  //   flex-flow: ;
  //
  //   background-color: black;
  @include show_border(red, false);
}

.sign-out-button {
  font-size: 2rem;
  font-weight: bold;
  cursor: pointer;
}

.sign-out-button:hover {
  color: $secondary-color;
}

.add-icon {
  font-size: 2.5rem;
  font-weight: bold;
  cursor: pointer;
}

.add-icon:hover {
  color: $secondary-color;
}

.notes-section {
  text-align: center;
  // margin
  // pa
}

// ////////////////////////////
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default CHANGE BACK TO NONE*/
  align-items: center;
  justify-content: center;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  // justify-content: ;
  background-color: $primary-color;
  // margin: 15% auto; /* 15% from the top and centered */
  // padding: 20px;
  border: 1px solid #888;
  border-radius: 13px;
  width: 25rem; /* Could be more or less, depending on screen size */
  height: 25rem;
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.modal-content > textarea {
  padding: 10px;
  border-radius: 13px;
  align-self: stretch;
  height: 70%;
  margin: 20px;
  outline: none;
  resize: none;
  border: 3px solid black;
}

.add-task-button {
  background-color: #fff;
  margin: 7px;
  cursor: pointer;
  border-radius: 10px;
  width: 5rem;
  height: 2rem;
  font-weight: bold;
  // object-fit: contain;
}

.add-task-button:hover {
  background-color: #eee;
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid $primary-color;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: $primary-color transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loading-icon {
  display: flex;
  justify-content: center;
}

.notes-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
